@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using Microsoft.AspNetCore.Http;
@model Dating_Site_Razor_Views.Pages.Profiles
@{
    Layout = "noNav";
    ViewData["Title"] = "Home Page";
}
@section styles {
    <link href="@Url.Content("~/css/home.css")" rel="stylesheet" type="text/css" />
}
<body>
    <form id="form1" method="post">

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg fixed-top bg-light navbar-light">
        <button class="navbar-toggler"
                type="button"
                data-mdb-toggle="collapse"
                data-mdb-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation">

            <i class="fas fa-bars"></i>
        </button>
        <div class="container d-flex justify-content-center">
            <div class="row">
                <div class="col-12 d-flex justify-content-center">
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav align-items-center mx-auto">
                            <li class="nav-item">
                                <a class="nav-link mx-2" href="home"><i class="fas fa-plus-circle pe-2"></i>Home</a>
                            </li>
                            <li class="nav-item">
                                <asp:LinkButton ID="lbMyProfile" runat="server" OnClick="lbMyProfile_Click" CssClass="navbarlinks">My Profile &nbsp &nbsp</asp:LinkButton>
                            </li>

                            <li class="nav-item">
                                <asp:LinkButton ID="lbLikes" runat="server" OnClick="lbLikes_Click" CssClass="navbarlinks">My Likes &nbsp &nbsp</asp:LinkButton>
                            </li>

                            <li class="nav-item">
                                <asp:LinkButton ID="lbMyMatches" runat="server" OnClick="lbMyMatches_Click" CssClass="navbarlinks">My Matches &nbsp &nbsp</asp:LinkButton>
                            </li>

                            <li class="nav-item">
                                <asp:LinkButton ID="lbMyDates" runat="server" OnClick="lbMyDates_Click" CssClass="navbarlinks">My Dates &nbsp &nbsp</asp:LinkButton>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link mx-2">
                                    <i class="fas fa-heart pe-2" style="color:mediumblue">Logged In as: 
                                        @Context.Session.GetString("accountUsername")
                                    </i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <!-- Navbar -->
    <div>
        <br />
         
        <center>
            <h3>
                Search by age shows profiles who are are within 2 years of your age range <br />
                Search by gender shows profiles who are not your gender <br />
                Search by state shows profiles in the same state as you <br />
                Search by commitment shows those are looking for the same kind of relationship as you <br />
            </h3>
        </center>


        <div class="searchbar">
            <div class="row">
                <div class="col-lg-6 card-margin">
                    <div class="card search-form">
                        <div class="card-body p-0">
                            <div id="search-form">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="row no-gutters">

                                            <div class="col-lg-4">
                                                <label>Search by:</label>
                                            </div>
                                            <div class="col-lg-4">
                                                <select name="ddlFilterProfiles" id="ddlFilterProfiles" class="form-control">
                                                    <option selected="True" value="Age">Age</option>
                                                    <option value="Gender">Gender</option>
                                                    <option value="State">State</option>
                                                    <option value="Commitment">Commitment</option>
                                                </select>
                                            </div>
                                            <div class="col-lg-4">
                                                    <button type="submit" id="btnSearchForMatches" asp-controller="Home" asp-action="ListProfiles">Search</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            
            @if (Model == null)
            {
                <p><em>Click Search to find other people</em></p>
            }
            else if (Model.profiles.Count == 0)
            {
                <p><em>Nobody was found that fits your search criteria.</em></p>
            }
            else
            {
                <ul>
                @foreach(var profile in ViewBag.ProfilesList)
                {
                    <li class="profiles" style="height: 400px; width: 300px;">
                        <a href="#"><img src="@profile.profilePic" style="height: 100px; width: 100px;"></a>
                        <div class="profile-info">
                            <h4>Age: @profile.age years old</h4>
                            <h4>@profile.description</h4>
                            <h4>@profile.accID</h4>
                        </div>
                        <div class="searchProfileButtons">
                                <a class="btn btn-primary m-1" asp-route-accID="@profile.accID" asp-action="ViewSpecificProfile" asp-controller="Home">View Profile</a>
                                <button type="button" name="btnLike" id="btnLike" class="form-control" onclick="location.href='@Url.Action("ViewSpecificProfile", "Home")'">Like</button>
                        </div>
                    </li>
                }
                </ul>
            }
    </div>
        

</form>
</body>