@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using Microsoft.AspNetCore.Http;
@model Dating_Site_Razor_Views.Pages.ViewedProfile
@{
    Layout = "noNav";
    ViewData["Title"] = "View Someone Else's Profile";
}
@section styles {
    <link href="@Url.Content("~/css/viewotherprofile.css")" rel="stylesheet" type="text/css" />
}
@section scripts {
    <script src='https://netdna.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js'></script>
}
<form id="form1" method="post">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg fixed-top bg-light navbar-light">
        <button class="navbar-toggler"
                type="button"
                data-mdb-toggle="collapse"
                data-mdb-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation">

            <i class="fas fa-bars"></i>
        </button>
        <div class="container d-flex justify-content-center">
            <div class="row">
                <div class="col-12 d-flex justify-content-center">
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav align-items-center mx-auto">
                            <li class="nav-item">
                                <a class="nav-link mx-2" href="home"><i class="fas fa-plus-circle pe-2"></i>Home</a>
                            </li>
                            <li class="nav-item">
                                <asp:LinkButton ID="lbMyProfile" runat="server" OnClick="lbMyProfile_Click" CssClass="navbarlinks">My Profile &nbsp &nbsp</asp:LinkButton>
                            </li>

                            <li class="nav-item">
                                <asp:LinkButton ID="lbLikes" runat="server" OnClick="lbLikes_Click" CssClass="navbarlinks">My Likes &nbsp &nbsp</asp:LinkButton>
                            </li>

                            <li class="nav-item">
                                <asp:LinkButton ID="lbMyMatches" runat="server" OnClick="lbMyMatches_Click" CssClass="navbarlinks">My Matches &nbsp &nbsp</asp:LinkButton>
                            </li>

                            <li class="nav-item">
                                <asp:LinkButton ID="lbMyDates" runat="server" OnClick="lbMyDates_Click" CssClass="navbarlinks">My Dates &nbsp &nbsp</asp:LinkButton>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link mx-2">
                                    <i class="fas fa-heart pe-2" style="color:mediumblue">
                                        Logged In as:
                                        @Context.Session.GetString("accountUsername")
                                    </i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <!-- Navbar -->
    @foreach (var profile in ViewBag.ProfileBeingViewed)
    {
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-4">
                    <div class="text-center card-box">
                        <div class="member-card">
                            <div class="thumb-xl member-thumb m-b-10 center-block">
                                <img src="@profile.profilePic" class="img-circle img-thumbnail" alt="profile-image">
                            </div>

                            <div class="">
                                <h4 class="m-b-5">@profile.FirstName @profile.LastName</h4>
                            </div>

                            <button type="button" class="btn btn-success btn-sm w-sm waves-effect m-t-10 waves-light">Like</button>
                            <button type="button" class="btn btn-danger btn-sm w-sm waves-effect m-t-10 waves-light">Back To Home</button>

                            <div class="text-left m-t-40">
                                <br />
                                <p class="text-muted font-13"><strong>Phone Number :</strong> <span class="m-l-15">@profile.PhoneNumber</span></p>
                                <p class="text-muted font-13"><strong>Email :</strong> <span class="m-l-15">@profile.Email</span></p>
                                <p class="text-muted font-13"><strong>Address :</strong> <span class="m-l-15">@profile.Address</span></p>
                                <p class="text-muted font-13"><strong>City :</strong> <span class="m-l-15">@profile.City</span></p>
                                <p class="text-muted font-13"><strong>State :</strong> <span class="m-l-15">@profile.State</span></p>
                                <p class="text-muted font-13"><strong>Gender :</strong> <span class="m-l-15">@profile.Gender</span></p>
                                <p class="text-muted font-13"><strong>Height :</strong> <span class="m-l-15">@profile.Height</span></p>
                                <p class="text-muted font-13"><strong>Weight :</strong> <span class="m-l-15">@profile.Weight lbs</span></p>
                                <p class="text-muted font-13"><strong>Age :</strong> <span class="m-l-15">@profile.Age</span></p>
                                <p class="text-muted font-13"><strong>Occupation :</strong> <span class="m-l-15">@profile.Occupation</span></p>
                                <p class="text-muted font-13"><strong>Commitment :</strong> <span class="m-l-15">@profile.Commitment</span></p>
                            </div>
                        </div>
                    </div> <!-- end card-box -->
                </div> <!-- end col -->


                <div class="col-md-8 col-lg-9">
                    <div class="">
                        <div class="">
                            <ul class="nav nav-tabs navtab-custom">
                                <li class="active">
                                    <a href="#tab-about" data-toggle="tab" aria-expanded="true">
                                        <span class="visible-xs"><i class="fa fa-user"></i></span>
                                        <span class="hidden-xs">ABOUT ME</span>
                                    </a>
                                </li>
                                <li class="">
                                    <a href="#tab-profile" data-toggle="tab" aria-expanded="false">
                                        <span class="visible-xs"><i class="fa fa-photo"></i></span>
                                        <span class="hidden-xs">GALLERY</span>
                                    </a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active" id="tab-about">
                                    <p class="m-b-5">
                                        <h5 class="text-primary m-b-5">Bio</h5>
                                        @profile.Description
                                    </p>

                                    <div class="m-t-30">
                                        <h5 class="text-primary m-b-5">We would get along if...</h5>
                                        <p class="text-muted font-13 m-b-0">
                                            "..."
                                        </p>
                                    </div>
                                </div>
                                <div class="tab-pane" id="tab-profile">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="gal-detail thumb">
                                                <a href="#" class="image-popup" title="Screenshot-2">
                                                    <img src="https://www.bootdey.com/image/400x300/008B8B/00000" class="thumb-img" alt="work-thumbnail">
                                                </a>
                                                <h4 class="text-center">Gallary Image</h4>
                                                <div class="ga-border"></div>
                                                <p class="text-muted text-center"><small>Photography</small></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> <!-- end col -->
            </div>
            <!-- end row -->
        </div>





        @*
            <div class="container-fluid well" id="home" style="display:block; padding-top:70px;">
                <div class="profileSquare">
                <div class="row">
                    <div class="col-md-5">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <center>
                                            <img width="100" src="@profile.profilePic" id="aimgUserProfilePic" alt="https://static.vecteezy.com/system/resources/previews/024/983/914/original/simple-user-default-icon-free-png.png" />
                                        </center>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <hr />
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <label id="lblFirstName">First Name</label>
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="txtFirstName" name="txtFirstName" readonly="readonly" value="@profile.FirstName"/>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <label id="lblLastName">Last Name</label>
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="txtLastName" name="txtLastName" readonly="readonly" value="@profile.LastName" />
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-4">
                                        <label id="lblEmail">Email</label>
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="txtEmail" name="txtEmail" readonly="readonly" value="@profile.Email" />
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <label id="lblPhoneNumber">Phone Number</label>
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="txtPhoneNumber" name="txtPhoneNumber" readonly="readonly" value="@profile.PhoneNumber" />
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <label>Address</label>
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="txtAddress" name="txtLastName" readonly="readonly" value="@profile.Address"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <label>City</label>
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="txtCity" name="txtCity" readonly="readonly" value="@profile.City"/>
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <label>State</label>
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="txtState" name="txtState" readonly="readonly" value="@profile.State" />
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <label>Gender</label>
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="txtGender" name="txtGender" readonly="readonly" value="@profile.Gender" />
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-4">
                                        <label>Height</label>
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="txtHeight" name="txtHeight" readonly="readonly" value="@profile.Height"/>
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <label>Weight (in lbs)</label>
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="txtWeight" name="txtWeight" readonly="readonly" value="@profile.Weight"/>
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <label>Age</label>
                                        <div class="form-group">
                                            <input type="number" class="form-control" id="txtAge" name="txtAge" readonly="readonly" value="@profile.Age" />
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Occupation</label>
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="txtOccupation" name="txtOccupation" readonly="readonly" value="@profile.Occupation"/>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <label>Commitment</label>
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="txtCommitment" name="txtCommitment" readonly="readonly" value="@profile.Commitment" />
                                        </div>
                                    </div>


                                </div>

                                <div class="row">
                                    <div class="col">
                                        <label>Profile Description</label>
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="txtDescription" name="txtDescription" readonly="readonly" value="@profile.Description" />
                                        </div>
                                    </div>
                                </div>

                                <br />

                                <div class="row">
                                    <center>
                                        <div class="col-6">
                                            <div class="form-group">
                                                <div class="profileButtons">
                                                    <a class="btn btn-primary btn-lg" asp-route-accID="" asp-action="" asp-controller="">Back</a>
                                                    <a class="btn btn-primary btn-lg" asp-route-accID="" asp-action="" asp-controller="">Like This Profile</a>
                                                </div>
                                            </div>
                                        </div>
                                    </center>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        *@
    }

</form>