@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using Microsoft.AspNetCore.Http;
@*model Dating_Site_Razor_Views.Pages.*@
@{
    Layout = "noNav";
    ViewData["Title"] = "The User's Profile";
}
@section styles {
	<link href="@Url.Content("~/css/userProfile.css")" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://unpkg.com/dropzone@5/dist/min/dropzone.min.css" type="text/css" />
}
@section scripts {
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/dropzone@5/dist/min.js"></script>
}

<form id="form1" method="post" asp-controller="UserProfile" asp-action="UpdateUserProfile">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg fixed-top bg-light navbar-light mb-4">
        <button class="navbar-toggler"
                type="button"
                data-mdb-toggle="collapse"
                data-mdb-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>
        <div class="container d-flex justify-content-center">
            <div class="row">
                <div class="col-12 d-flex justify-content-center">
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav align-items-center mx-auto">
                            <li class="nav-item">
                                <a class="nav-link mx-2" href="home"><i class="fas fa-plus-circle pe-2"></i>Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link mx-2" href="@Url.Action("UserProfile", "UserProfile")">My Profile &nbsp &nbsp</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link mx-2" href="#">My Likes &nbsp &nbsp</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link mx-2" href="#">My Matches &nbsp &nbsp</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link mx-2" href="#">My Dates &nbsp &nbsp</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link mx-2">
                                    <i class="fas fa-heart pe-2" style="color:mediumblue">
                                        Logged In as: @Context.Session.GetString("accountUsername")
                                    </i>
                                </a>
                            </li>
                            <form>
                                <a href="@Url.Action("Logout", "Home")" class="btn btn-danger ml-2">Logout</a>
                            </form>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        </div>
    </nav>
    <!-- Navbar -->
    @foreach (var profile in ViewBag.LoggedInUserProfile)
    {
        <!-- Edit User Profile-->
        <div class="userProfile">
            <div class="container bootstrap snippets bootdey">
                <h1 class="text-primary">Edit Profile</h1>
                <hr>
                <div class="row">
                    <!-- left column -->
                    <div class="col-md-3">
                        <div class="text-center">
                            <h5>Account Status - <label class="badge badge-pill badge-info" id="lblAccountStatus">@profile.Visible</label></h5>
                            <img src="@profile.profilePic" class="avatar img-circle img-thumbnail" alt="avatar" id="aimgUserProfilePic" >
                            <br />
                            <h6>Upload a different photo...</h6>

                            <input type="text" class="form-control" placeholder="Image URL or Link goes here" value="@profile.profilePic" name="txtProfilePic">
                            <a class="btn btn-sm btn-outline-primary w-100">Change Profile Picture</a>
                        </div>
                    </div>

                    <!-- edit form column -->
                    <div class="col-md-3 personal-info">
                        <h3>Personal Info</h3>
                        <div class="form-group">
                            <label class="col-lg-6 control-label">First name:</label>
                            <div class="col-lg-8">
                                <input class="form-control" type="text" placeholder="..." value="@profile.FirstName" name="txtFirstName">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-6 control-label">Last name:</label>
                            <div class="col-lg-8">
                                <input class="form-control" type="text" placeholder="..." value="@profile.LastName" name="txtLastName">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-6 control-label">Phone Number:</label>
                            <div class="col-lg-8">
                                <input class="form-control" type="text" value="@profile.PhoneNumber" name="txtPhoneNumber">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-6 control-label">Email:</label>
                            <div class="col-lg-8">
                                <input class="form-control" type="text" value="@profile.Email" name="txtEmail">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-6 control-label">Address:</label>
                            <div class="col-lg-8">
                                <input class="form-control" type="text" value="@profile.Address" name="txtAddress">
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 public-info">
                        <h3>Public Info</h3>
                        <div class="form-group">
                            <label class="col-lg-6 control-label">Age:</label>
                            <div class="col-lg-8">
                                <input class="form-control" type="number" placeholder="..." value="@profile.Age" name="Age">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-6 control-label">Height:</label>
                            <div class="col-lg-8">
                                <input class="form-control" type="text" value="@profile.Height" name="txtHeight">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-6 control-label">Weight:</label>
                            <div class="col-lg-8">
                                <input class="form-control" type="number" value="@profile.Weight" name="Weight">
                            </div>
                        </div> 
                        <div class="form-group">
                            <label class="col-lg-6 control-label">City:</label>
                            <div class="col-lg-8">
                                <input class="form-control" type="text" value="@profile.City" name="txtCity">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-6 control-label">Occupation:</label>
                            <div class="col-lg-8">
                                <input class="form-control" type="text" value="@profile.Occupation" name="txtOccupation">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <br/>
                        <br/>
                        <div class="form-group">
                            <label class="col-lg-6 control-label">State:</label>
                            <div class="col-lg-8">
                                @Html.DropDownList("ddlState", (IEnumerable<SelectListItem>)ViewBag.StateOptions)
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-6 control-label">Gender:</label>
                            <div class="col-lg-8">
                                @Html.DropDownList("ddlGender", (IEnumerable<SelectListItem>)ViewBag.GenderOptions)
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-6 control-label">Commitment:</label>
                            <div class="col-lg-8">
                                @Html.DropDownList("ddlCommitment", (IEnumerable<SelectListItem>)ViewBag.CommitmentOptions)
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-6 control-label">Add photos to your photo gallery.</label>
                            <a class="btn btn-sm btn-outline-primary w-100" asp-controller="Gallery" asp-action="Gallery">Head To Gallery</a>
                        </div>
                    </div>
                </div>

                <hr />

                <!-- Row -->
                <div class="row">
                    <div class="col-md-12 text-center dating-profile">
                        <h3>Dating Profile</h3>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="col-lg-8 control-label">Profile Description:</label>
                            <div class="col-lg-6">
                                <textarea name="txtProfileDesc" style="resize:none; height:150px; width: 200px;">@profile.Description</textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-8 control-label">We would get along if:</label>
                            <div class="col-lg-3">
                                <textarea name="txtQuestion1" style="resize:none; height:150px; width: 200px;">@profile.Question1</textarea>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="col-lg-8 control-label">On a day off I like to:</label>
                            <div class="col-lg-6">
                                <textarea name="txtQuestion2" style="resize:none; height:150px; width: 200px;">@profile.Question2</textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-8 control-label">These are my dealbreakers:</label>
                            <div class="col-lg-3">
                                <textarea name="txtQuestion3" style="resize:none; height:150px; width: 200px;">@profile.Question3</textarea>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="col-lg-6 control-label">Interests:</label>
                            <div class="col-lg-5">
                                @foreach (var item in ViewBag.UserInterests)
                                {
                                    @if (item.isChecked == false)
                                    {
                                        <input type="checkbox" aria-label="@item.name" id="@item.name" name="@item.name" /> <label>@item.name</label> <br />
                                    }
                                    else
                                    {
                                        <input type="checkbox" aria-label="@item.name" id="@item.name" name="@item.name" checked="checked" /> <label>@item.name</label> <br />
                                    }
                                }
                                <textarea name="txtareaOtherInterest" style="resize:none;">@ViewBag.UserOtherInterest</textarea>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="col-lg-6 control-label">Dislikes:</label>
                            <div class="col-lg-5">
                                @foreach (var item in ViewBag.UserDislikes)
                                {
                                    @if (item.isChecked == false)
                                    {
                                        <input type="checkbox" aria-label="@item.name" id="@item.name" name="@item.name" /> <label>@item.name.ToString().Substring(1)</label> <br />
                                    }
                                    else
                                    {
                                        <input type="checkbox" aria-label="@item.name" id="@item.name" name="@item.name" checked="checked" /> <label>@item.name</label> <br />
                                    }
                                }
                                <textarea name="txtareaOtherDislike" style="resize:none;">@ViewBag.UserOtherDislike</textarea>
                            </div>
                        </div>

                    </div>

                </div>


            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="form-group">
                        <label class="col-lg-6 control-label">Make Profile Visible To Others?</label>
                         @Html.DropDownList("ddlVisible", (IEnumerable<SelectListItem>)ViewBag.VisibleOptions)
                    </div>
                </div>
            </div>

            </div>
            <hr>
            <center>
                <div class="row">
                    <button class="btn btn-sm btn-outline-primary w-100" type="submit">Update Profile</button>
                    <a class="btn btn-sm btn-outline-primary w-100" asp-controller="DatingHome" asp-action="Home">Back To Home</a>
                </div>
            </center>
        </div>
        <!-- Edit User Profile-->
    }
</form>
